<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="icon" href="../assets/img/LogoCarHub.png" type="image/png">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
    <link rel="stylesheet" href="../assets/css/login.css">
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <title>Página de registro</title>
</head>

<body>
    <div class="container" id="container">
        <div class="form-container sign-in">
            <form>
                <h1>Iniciar Sesión</h1>
                <div class="social-icons">
                    <a href="https://accounts.google.com" class="icon"><i class="fa-brands fa-google-plus-g"></i></a>
                    <a href="https://facebook.com" class="icon"><i class="fa-brands fa-facebook-f"></i></a>
                    <a href="https://github.com/" class="icon"><i class="fa-brands fa-github"></i></a>
                    <a href="https://es.linkedin.com/" class="icon"><i class="fa-brands fa-linkedin-in"></i></a>
                </div>
                <input type="text" placeholder="Username" id="login-username" required>
                <div class="password-container">
                    <input type="password" id="login-password" placeholder="Contraseña" required>
                    <span class="password-toggle">
                      <i class="fa fa-eye"></i>
                    </span>
                </div>
                <a href="#">¿Ha olvidado su contraseña?</a>
                <button type="submit" onclick="verificarUsuario(event)">Iniciar Sesión</button>
            </form>
        </div>
        <div class="form-container sign-up">
            <form onsubmit="event.preventDefault(); manejarRegistroUsuario(event);">
                <h1>Crear Cuenta</h1>
                <div class="social-icons">
                    <a href="https://accounts.google.com" class="icon"><i class="fa-brands fa-google-plus-g"></i></a>
                    <a href="https://facebook.com" class="icon"><i class="fa-brands fa-facebook-f"></i></a>
                    <a href="https://github.com/" class="icon"><i class="fa-brands fa-github"></i></a>
                    <a href="https://es.linkedin.com/" class="icon"><i class="fa-brands fa-linkedin-in"></i></a>
                </div>
                <input type="text" id="nombre" placeholder="Nombre" required>
                <input type="text" id="apellidos" placeholder="Apellido" required>
                <input type="text" id="username" placeholder="Nombre de usuario" required>
                <input type="email" id="correo_electronico" placeholder="Email" required>
                <input type="text" id="telefono" placeholder="Teléfono" maxlength="9" required>
                <input type="text" id="direccion" placeholder="Dirección" required>
                <div class="password-container">
                    <input type="password" id="password" placeholder="Contraseña" required>
                    <span class="password-toggle">
                        <i class="fa fa-eye"></i>
                    </span>
                </div>
                <button type="submit">Crear Cuenta</button>
            </form>
        </div>  
        <div class="toggle-container">
            <div class="toggle">
                <div class="toggle-panel toggle-left">
                    <h1>¡Bienvenido de nuevo!</h1>
                    <p>Ingresa tus datos personales para utilizar todas las funciones del sitio</p>
                    <button class="hidden" id="login">Iniciar Sesión</button>
                </div>
                <div class="toggle-panel toggle-right">
                    <h1>¡Hola, amigo!</h1>
                    <p>Regístrate con tus datos personales para utilizar todas las funciones del sitio web</p>
                    <button class="hidden" id="register">Regístrate</button>
                </div>
            </div>
        </div>
    </div>
    
    <button class="button" onclick="window.location.href='../index.html'">   
        <svg class="svgIcon" viewBox="0 0 384 512">
            <path d="M214.6 41.4c-12.5-12.5-32.8-12.5-45.3 0l-160 160c-12.5 12.5-12.5 32.8 0 45.3s32.8 12.5 45.3 0L160 141.2V448c0 17.7 14.3 32 32 32s32-14.3 32-32V141.2L329.4 246.6c12.5 12.5 32.8 12.5 45.3 0s12.5-32.8 0-45.3l-160-160z"></path>
        </svg>
    </button>

    <script src="../assets/js/script.js"></script>
    <script src="../assets/js/main.js"></script>
</body>

</html>
