<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registro - CarHub</title>
    <link rel="stylesheet" href="../assets/css/registro.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
</head>
<body>

    <div id="navbar"></div>

    <main>
        <h2>Registro de Usuario</h2>
        <form>
            <label>Nombre:</label>
            <input type="text" required>
            
            <label>Email:</label>
            <input type="email" required>
            
            <label>Contraseña:</label>
            <div class="password-container">
                <input type="password" id="password-input" required>
                <span class="password-toggle">
                  <i class="fa fa-eye"></i>
                </span>
              </div>              
            
            <button type="submit">Registrarse</button>
        </form>
    </main>

    <div id="footer" style="text-align: center; margin-top: 280px;color: white;"></div>

    <script src="../assets/js/register.js"></script>
</body>
</html>