<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Página Principal</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <nav>
        <ul>
            <li><a href="../index.html" class="nav-link" data-page="index">Inicio</a></li>
            <li><a href="../views/catalog.html" class="nav-link" data-page="catalog">Catálogo</a></li>
            <li><a href="../views/login.html" class="nav-link" data-page="register">Registro</a></li>
            <li><a href="../views/dashboard.html" class="nav-link" data-page="dashboard">Mi Cuenta</a></li>
            <li class="rol-only"><a href="../views/admin.html" class="nav-link" data-page="admin">Admin</a></li>
            <li class="rol-only"><a href="../components/vehiculo/newVehiculo.html" class="nav-link" data-page="newVehicle">Nuevo Coche</a></li>
        </ul>
    </nav>
</body>
</html>