<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Editar Producto</title>
    <link rel="stylesheet" href="/styles.css">
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
</head>
<style>
    #firstUsername{
        font-size: 35px;
        
    }
</style>
<body>
    <div class="container">
        <h1 style="font-size: 50px;">Editar Usuario</h1>
        <form onSubmit="editarTransaccion(event)">
            <div>
                <div class="info">
                    <span><b>ID:</b></span>
                    <span id="id_transaccion"></span>
                </div>
            </div>

            <input type="numer" id="id_vendedor" placeholder="id_Vendedor..." required>

            <input type="number" id="id_vehiculo" placeholder="id_Vehiculo..." required>

            <input type="numer" id="id_financiacion" placeholder="id_Financion..." required>

            <input type="date" id="fecha_transaccion" placeholder="Fecha..." required>
            <button type="submit" class="btn-detalles">Editar</button>
        </form>
    </div>
    <script>
         //Extraemos el parámetro de la queryString "id"
        //edit?id=2 --> Extraemos el valor id=2
        const urlParams = new URLSearchParams(window.location.search)
        const id_transaccion = urlParams.get("id")


        function editarTransaccion(e){
            e.preventDefault()
            const id_vendedor = document.getElementById("id_vendedor").value
            const id_vehiculo = document.getElementById("id_vehiculo").value
            const id_financiacion = document.getElementById("id_financiacion").value
            const fecha_transaccion = document.getElementById("fecha_transaccion").value
            
            /*
            const id_vendedor = document.createElement("td")
            const id_vehiculo = document.createElement("td")
            const id_financiacion = document.createElement("td")
            const fecha_transaccion = document.createElement("td")
            */

            fetch("http://localhost:4050/compraventa/" + id_transaccion,{
                    method:"PUT",
                    headers:{"Content-Type":"application/json"},
                    body:JSON.stringify({id_vendedor,id_vehiculo,id_financiacion,fecha_transaccion})
                })
                .then(function(respuestaTextoPlano){
                    return respuestaTextoPlano.json()
                })
                .then(function(data){
                    console.log(data)
                    Swal.fire({
                        title: "Modificado!",
                        text: "Transaccion modificada con éxito!",
                        icon: "success"
                    })
                    .then(function(){
                            window.location.href="/index.html"
                        })                    
                })
                .catch(function(error){
                    console.log(error)
                    Swal.fire({
                        title: "¡Error!",
                        text: error,
                        icon: "error"
                    });
                })               
        }


        function cargarDetallesTransaccion() {
        const urlParams = new URLSearchParams(window.location.search)
        const id_transaccion = urlParams.get('id')

        fetch("http://localhost:4050/compraventa/" + id_transaccion)
            .then(function(res) {
                return res.json()
            })
            .then(function(detalles) {
                document.getElementById("id_transaccion").innerText = detalles.id_transaccion
                document.getElementById("id_vendedor").innerText = detalles.id_vendedor
                document.getElementById("id_vehiculo").innerText = detalles.id_vehiculo
                document.getElementById("id_financiacion").innerText = detalles.id_financiacion
                document.getElementById("fecha_transaccion").innerText = detalles.fecha_transaccion

                /*
                    const id_vendedor = document.createElement("td")
                    const id_vehiculo = document.createElement("td")
                    const id_financiacion = document.createElement("td")
                    const fecha_transaccion = document.createElement("td")
                */
            })
            .catch(function(error) {
                console.log("Error en detalles ", error)
            })
        }

        cargarDetallesTransaccion()

    </script>
</body>
</html>