<nav>
    <ul>
        <li><a href="../index.html" class="nav-link" data-page="index">Inicio</a></li>
        <li><a href="../views/catalog.html" class="nav-link" data-page="catalog">Catálogo</a></li>
        <li><a href="../views/login.html" class="nav-link" data-page="register">Registro</a></li>
        <li><a href="../views/dashboard.html" class="nav-link" data-page="dashboard">Mi Cuenta</a></li>
        <li><a href="../views/admin.html" class="nav-link" data-page="admin">Admin</a></li>
        <li><a href="../components/newVehicle.html" class="nav-link" data-page="newVehicle">Nuevo Coche</a></li>
    </ul>
</nav>
