<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../styles.css">
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <title>Nueva Transaccion</title>
</head>
<body>  
    <div class="container">
        <h1>Nueva Transaccion</h1>
        <form onSubmit="crearTransaccion(event)">
            <input type="number" id="id_vendedor" placeholder="Id Vendedor..." required>
            <input type="number" id="id_vehiculo" placeholder="Id Vehiculo..." required>
            <input type="number" id="id_financiacion" placeholder="Id Financiacion..." required>
            <input type="date" id="fecha_transaccion" placeholder="Fecha..." required>
            <button type="submit" class="btn-detalles">Guardar</button>
        </form>
    </div>
</body>

<script>
    function crearTransaccion(e){
        e.preventDefault()
        const id_vendedor = document.getElementById("id_vendedor").value
        const id_vehiculo = document.getElementById("id_vehiculo").value
        const id_financiacion = document.getElementById("id_financiacion").value
        const fecha_transaccion = document.getElementById("fecha_transaccion").value

        fetch("http://localhost:4050/compraventa",{
            method: "POST",
            headers:{"Content-Type":"application/json"},
            body:JSON.stringify({id_vendedor,id_vehiculo,id_financiacion,fecha_transaccion})
        })
        .then(function(respuestaTextoPlano){
            return respuestaTextoPlano.json()
        })
        .then(function(data){
            console.log("PRUEBA")
            console.log(data)
            Swal.fire({
                    title: "¡Transaccion Creada!",
                    text: data.message,
                    icon: "success"
            })
            .then(function(){
                window.location.href = "http://127.0.0.1:5500/index.html"
            })
        })
        .catch(function(error){
            console.log(error)
            Swal.fire({
                title: "¡Error!",
                text: error,
                icon: "error"
            })
        })
    }
</script>
</html>